*{font-family: "Roboto", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;}

body{background-color:#8a51fc;display: flex;
    flex-direction: column;
align-items: center;}

.logo{width: 300px;
    height: 300px;
    top: 271px;
    left: 954px;
    gap: 0px;
    display: flex;
    border: none;
}

.conversor{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    align-items: center;
    margin: auto;
    width: 375px;
    border-radius: 20px;
    padding: 44px 24px 23px;
}
label{display: flex;
    color: #7777;
    font-size: 14px;
    font-weight: 400;
    
    flex-direction: column;
    opacity:0px;
    padding-top: 15px;}

select,input{width:327px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    background: #ffffff;
    appearance: none;
    cursor: pointer;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555;}



    .convert-button{
        background-color: #772FD3;
        width: 327px;
        height: 48px;
        top: 329px;
        left: 24px;
        gap: 0px;
        border-radius: 5px;
        border: none;
        opacity: 0px;
        color: #f4f4f4;
        font-size: 18px;
        margin: 25px;
        cursor: pointer;
        }

        .reset-button{ background-color: #772FD3;
            width: 127px;
            height: 48px;
            top: 129px;
            left: 15px;
            gap: 0px;
            border-radius: 5px;
            border: none;
            opacity: 0px;
            color: #f4f4f4;
            font-size: 18px;
            margin-bottom: 15px;
            cursor: pointer;}
.arrow{
        
    top: 10px;
    left: 10px;
    gap: 20px;
    padding: 20px;

    }
.infor{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 1px;
    border-color: #8d3ef5;
    width: 327px;
    top: 413px;
    left: 24px;
    border-radius: 20px;
    border: 1px;
    opacity: 0px;
}

.value{
    display:flex;
    flex-direction: column;
    align-items: center;}

button:hover{opacity: 0.8;}
button:active{opacity:0.5;}
/*kmkk */
